In [4]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [5]:
data = "data/data.json"
df= pd.read_json(data)
df.head()

                                           countries  year
0  [{'continent': 'europe', 'country': 'Yugoslavi...  1800
1  [{'continent': 'europe', 'country': 'Svalbard'...  1801
2  [{'continent': 'europe', 'country': 'Svalbard'...  1802
3  [{'continent': 'asia', 'country': 'Wallis et F...  1803
4  [{'continent': 'asia', 'country': 'Wallis et F...  1804

In [8]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[str(name[:-1])] = str(x)

    flatten(y)
    return out

In [9]:
new_data= df.countries

In [13]:
json_normalize(new_data)

AttributeError: 'list' object has no attribute 'values'

In [12]:
new_df=pd.DataFrame.from_dict(new_data)
new_df.head()

                                           countries
0  [{'continent': 'europe', 'country': 'Yugoslavi...
1  [{'continent': 'europe', 'country': 'Svalbard'...
2  [{'continent': 'europe', 'country': 'Svalbard'...
3  [{'continent': 'asia', 'country': 'Wallis et F...
4  [{'continent': 'asia', 'country': 'Wallis et F...